// Mixins
// Main-setup
@mixin main-setup {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Box-size
@mixin box-size {
  width: 10rem;
  height: 10rem;
}
// Div size
@mixin div-size {
  width: 5rem;
  height: 5rem;
}
// Centering
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Colors
@mixin color($color) {
  @if map-has-key($colors, $color) {
    color: map-get($colors, $color);
  } @else {
    @error "Color #{$color} is not defined, Enter a valid #{colors}";
  }
}
@mixin bg-color($color) {
  @if map-has-key($colors, $color) {
    background-color: map-get($colors, $color);
  } @else {
    @error "Color #{$color} is not defined, Enter a valid #{colors}";
  }
}

// Borders
@mixin border-color($color) {
  @if map-has-key($colors, $color) {
    border-color: map-get($colors, $color);
  } @else {
    @error "Color #{$color} is not defined, Enter a valid #{colors}";
  }
}
@mixin first-b-template {
  @include border-color(y-green);
  border: 1px solid;
}
@mixin second-b-template {
  @include border-color(y-green);
  border: 2px solid;
}
@mixin third-b-template {
  @include border-color(sil);
  border: 3px solid;
}

// Slide-to-right
@mixin slide-to-right {
  animation: slide-to-right 5s ease-in-out infinite alternate both;
}
// Slide-around
@mixin slide-around {
  animation: slide-around 5s ease-in-out infinite alternate;
}
// Slide-right-left
@mixin slide-r-l {
  animation: slide-right-left 5s ease-in-out infinite alternate;
}
// Jump
@mixin jump {
  animation: jump 2s ease-in infinite alternate;
}
