// Colors
// $smoke: whitesmoke;
// $y-green: yellowgreen;
// $beige: beige;
// $turquoise: turquoise;
// $silver: silver;
// $purple: purple;

$colors: (
  smoke: whitesmoke,
  y-green: yellowgreen,
  bei: beige,
  turq: turquoise,
  sil: silver,
  pur: purple,
);
