// Second box style
.secondary {
  font-family: $verdana;
  @include box-size;
  @include first-b-template;
  div {
    @include div-size;
    @include second-b-template;
    border-radius: 50%;
    @include slide-around;
  }
  border-radius: 1rem;
  @include slide-r-l;
}
