@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lobster: "Lobster", "cursive", sans-serif;
}
body {
  background-color: purple;
}
h1 {
  font-family: var(--lobster);
  font-size: 5rem;
  color: whitesmoke;
  text-align: center;
}
.primary,
.secondary {
  width: 10rem;
  height: 10rem;
  border: yellowgreen 1px solid;
}
.primary {
  margin-bottom: 1rem;
  animation: slide-to-right 5s ease-in-out infinite alternate-reverse both;
  transition: 0.5s;
}
@keyframes slide-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(91.6vw);
  }
}
